<%
  # ローカルの開発環境
  #   ~/tengine_example/app
  #   ~/tengine_example/config
  #   ~/tengine_example/log
  #   ~/tengine_example/tmp
  # 
  # capistranoでデプロイした場合の想定するディレクトリ構成
  #   /var/lib/tengine_example/current/app
  #   /var/lib/tengine_example/current/config ---> /var/lib/tengine_example/shared/config
  #   /var/lib/tengine_example/current/log    ---> /var/lib/tengine_example/shared/log
  #   /var/lib/tengine_example/current/tmp    ---> /var/lib/tengine_example/shared/tmp
  # 

  __dir__ = File.dirname(__FILE__)
  pattern = /^current$|^shared$/
  using_cap = __dir__.split(File::SEPARATOR).any?{|s| s =~ pattern}
  base_dir = using_cap ? File.expand_path("../../current", __dir__) : File.expand_path("..", __dir__)
%>

process:
  daemon: true
  pid_dir: <%= base_dir %>/tmp/pids

tengined:
  activation_timeout: 300,
  confirmation_threshold: info
  load_path: <%= base_dir %>/app/
  status_dir: <%= base_dir %>/tmp/tengined_status
  activation_dir: <%= base_dir %>/tmp/tengined_activations

heartbeat:
  core:
    interval: 30

db:
  sessions:
    # Defines the default session. (required)
    default:
      # Defines the name of the default database that Mongoid can connect to.
      # (required).
      database: tengine_production
      # Provides the hosts the default session can connect to. Must be an array
      # of host:port pairs. (required)
      hosts:
        - localhost:27017
        # - 192.168.1.106:27017
      options:
        # Change whether the session persists in safe mode by default.
        # (default: false)
        safe: true

        # Change the default consistency model to :eventual or :strong.
        # :eventual will send reads to secondaries, :strong sends everything
        # to master. (default: :eventual)
        consistency: :strong

event_queue:
  connection:
    host: localhost
    port: 5672
  exchange:
    name: tengine_event_exchange
    type: direct
  queue:
    name: tengine_event_queue
    durable: true

log_common:
  output:                                                                 # file path or "STDOUT" / "STDERR"
  rotation: daily                                                         # rotation file count or daily,weekly,monthly. default: 3
  rotation_size: 7                                                        # number of max log file size. default: 1048576 (10MB)
  level: 'info'                                                           # debug/info/warn/error/fatal. default: info

application_log:
  output: <%= base_dir %>/log/<%= File.basename($0) %>_<%= `hostname`.strip %>.log      # file path or "STDOUT" / "STDERR". default: if daemon process then "./log/application.log" else "STDOUT"
  rotation:                                                               # rotation file count or daily,weekly,monthly. default: value of --log-common-rotation
  rotation_size:                                                          # number of max log file size. default: value of --log-common-rotation-size
  level:                                                                  # debug/info/warn/error/fatal. default: value of --log-common-level

process_stdout_log:
  output: <%= base_dir %>/log/<%= File.basename($0) %>_out_<%= `hostname`.strip %>.log  # file path or "STDOUT" / "STDERR". default: if daemon process then "./log/#{$PROGRAM_NAME}_#{Process.pid}_stdout.log" else "STDOUT"
  rotation:                                                               # rotation file count or daily,weekly,monthly. default: value of --log-common-rotation
  rotation_size:                                                          # number of max log file size. default: value of --log-common-rotation-size
  level:                                                                  # debug/info/warn/error/fatal. default: value of --log-common-level

process_stderr_log:
  output: <%= base_dir %>/log/<%= File.basename($0) %>_err_<%= `hostname`.strip %>.log  # file path or "STDOUT" / "STDERR". default: if daemon process then "./log/#{$PROGRAM_NAME}_#{Process.pid}_stderr.log" else "STDERR"
  rotation:                                                               # rotation file count or daily,weekly,monthly. default: value of --log-common-rotation
  rotation_size:                                                          # number of max log file size. default: value of --log-common-rotation-size
  level:                                                                  # debug/info/warn/error/fatal. default: value of --log-common-level

# Local Variables:
# mode: yaml
# coding: utf-8-unix
# indent-tabs-mode: nil
# tab-width: 4
# ruby-indent-level: 2
# fill-column: 79
# default-justification: full
# End:
